<% provide(:title, 'Home') %>

<div class="main">
	<h1>Welcome to Elitium<% if logged_in? %>, <%= @current_user.username %> <% end %></h1>

<p class="links"><%= link_to "View posts", posts_path, class: 'btn' %></p>
<% if logged_in? %>
	<p class="links"><%= link_to 'New post', new_post_path %></p>
<% end %>
</div>
