<% provide(:title, 'Sign in') %>

<div class="main">
	<h1>Sign in</h1>
	<div class="form">
		<%= form_for :session, url: signin_path do |f| %>
			<%= f.label :email %><br>
			<%= f.text_field :email %><br>
			<br>
			<%= f.label :password %><br>
			<%= f.password_field :password %><br>
			<br>
			<%= f.submit 'Sign in' %>
		<% end %>
	</div>
</div>