<% provide(:title, 'All posts') %>
<div class="main">
	<h1>All posts</h1>
	<p class="links"><%= link_to 'New post', new_post_path %></p>
	<div class="posts">
	<% @posts.each do |p| %>
		<div class="post">
			<p class="title"><%= p.title %></p>
			<% if logged_in? %>
				<p class="byline">by <%= p.user.username %></p>
			<% end %>
			<p class='body'><%= p.body %></p>
			<p><%= time_ago_in_words(p.created_at) %></p>
		</div>
	<% end %>
	</div>
</div>


