<% provide(:title, 'New Post') %>

<div class="main">
	<h1>New Post</h1>
	<div class="form">
		<%= form_for :post, url: posts_path do |f| %>
			<%= f.label :title, class: 'label' %><br>
			<%= f.text_field :title, class: 'field' %><br>

			<%= f.label :body, class: 'label'%><br>
			<%= f.text_area :body, class: 'text_area'%><br>

			<%= f.submit 'Post', class: 'btn'%>
		<% end %>
	</div>
</div>

