// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Header */

.main {
	background-color: #c8c8c8;
	height: 100vh;
	width: 100vw;
	left: 0px;
	position: fixed;
	top: 6vh;
	h1 {
		margin: 30px;
		text-align: center;
	}
}

.header {
	background-color: orange;
	width: 100vw;
	padding: 15px;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 6vh;
	a {
		text-align: left;
		padding: 10px;
	}
	a:hover {
		background-color: grey;
	}
}

.links {
	text-align: center;
}

.error {
	position: fixed;
	text-align: center;
	width: 100vw;
}