// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
	border-style: solid;
	border-radius: 5px;
	width: 45vw;
	padding: 10px;
	margin: 10px auto 0 auto;
}

.title, .byline{
	color: black;
	text-align: center;
}