// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Form */

.form {
	margin: 0 auto;
	width: 200px;
	height: 20vh;
	.label {
		margin-top: 50px;
	}
	.text_area {
		width: 30vw;
		height: 20vh;
		font-family: ariel;
	}
	.btn {
		color: green;
	}
}