<div>
	<div class="header">
		<a href="<%= root_path %>">Home</a>
		<% if logged_in? %>
			<%= link_to 'Sign out', signout_path, method: :delete %>
		<% else %>
			<%= link_to 'Sign in', signin_path %>
		<% end %>
	</div>
</div>
