<!DOCTYPE html>
<html>
  <head>
    <title><%= title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div>
      <% flash.each do |type, msg| %>
        <div class="<%= type %>"> 
          <p><%= msg %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
